.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

body{
    font-family: 'Calibri', sans-serif;
}

.content{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-column-gap: 10px;
}

.preview-image{
    max-width: 100%;
}

.user-info{
    padding-left: 50px;
}

.user-content{
    display: flex;
    justify-content: flex-start;
}

.user-image{
    max-width: 100%;
}

@media (max-width: 1260px) {
    .content{
        grid-template-columns: repeat(3, 33%);
        justify-content: center;
    }

    .user-content{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .user-image{
        justify-self: center;
        align-self: center;
        margin: 0 auto;
    }

    .user-info{
        padding: 0;
    }
}